<!DOCTYPE html>
<html lang="es">
<head>
    <script>
        if (top !== window) {
            top.location.href = window.location.href;
        }
        if (window.location.hash) {
            window.location.href = window.location.href.replace(window.location.hash, '');
        }
    </script>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Prueba BD</title>  
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/main.css') }} ">
</head>
<body>
    <div class="containerRow" >
        <div class="left">
            <img class="app-icon" src=" {{ url_for('static', filename='img/logo.png') }} " height="45">
            <label><h2 onclick="window.location.href='{{ url_for('home') }}';">eventiia</h2></label>
        </div>
        <div class="center">
            <label id="home" type="text" class="textBox"><h2>Inicio</h2></label>
            <label id="event" type="text" class="textBox"><h2>Eventos</h2></label>
            <label id="any">----------------</label>
        </div>
        <div class="rightModal">
            <img class="app-icon" src=" {{ url_for('static', filename='img/user.png') }} " height="25">
        </div>
    </div>
    <div class="containerForm" style="background-color: white;">
        <img class="app-icon" src=" {{ url_for('static', filename='img/anything.png') }} " height="80">
    </div>
    <div id="containerForm" class="containerCenter">
        <form action="{{ url_for('editEvent', idEvento=evento[0]) }}" method="POST">
            <div class="containerColumn">
                <div class="containerModal">
                    <div class="leftModal">
                    </div>
                    <div class="center">
                        <h2>Editar Evento</h2>
                    </div>
                    <div class="rightModal">
                        <img id="closeModal" class="app-icon" src=" {{ url_for('static', filename='img/close.png') }} " height="25" onclick="window.location.href='{{ url_for('tusEventosPage') }}';">
                    </div>
                </div>
                <div class="containerRow">
                    <div class="left">
                        <div>
                            <img class="app-icon" src=" {{ url_for('static', filename='img/imagen.png') }} " height="200">
                        </div>
                    </div>
                    <div class="containerTextBox">
                        <div class="containerWithoutBorder">
                            <input id="idEvento" name="idEvento" type="text" class="textBox" value="{{evento[0]}}" readonly>
                            <input id="nameEvento" name="nameEvento" type="text" class="textBox" value="{{evento[1]}}">
                        </div>
                        <div class="containerWithoutBorder">
                            <input id="ubicacionEvento" name="ubicacionEvento" type="text" class="textBox" value="{{evento[5]}}">
                        </div>
                        <div class="containerWithoutBorder">
                            <div class="containerRow containerBorder">
                                <img class="app-icon opacity marginImg" src=" {{ url_for('static', filename='img/calendar.png') }} " height="35">
                                <div class="containerTextBox">
                                    <label class="opacity">Fecha de inicio:</label>
                                    <input id="date1" name="date1" class="opacity" type="date" value="{{evento[7]}}">
                                </div>
                            </div>
                            <div class="containerRow containerBorder">
                                <img class="app-icon opacity marginImg" src=" {{ url_for('static', filename='img/clock.png') }} " height="35">
                                <div class="containerTextBox">
                                    <label class="opacity">Hora de inicio:</label>
                                    <input id="time1" name="time1" class="opacity" type="time" value="{{evento[8]}}">
                                </div>
                            </div>
                        </div>
                        <div class="containerWithoutBorder">
                            <div class="containerRow containerBorder">
                                <img class="app-icon opacity marginImg" src=" {{ url_for('static', filename='img/calendar.png') }} " height="35">
                                <div class="containerTextBox">
                                    <label class="opacity">Fecha de fin:</label>
                                    <input id="date2" name="date2" class="opacity" type="date" value="{{evento[9]}}">
                                </div>
                            </div>
                            <div class="containerRow containerBorder">
                                <img class="app-icon opacity marginImg" src=" {{ url_for('static', filename='img/clock.png') }} " height="35">
                                <div class="containerTextBox">
                                    <label class="opacity">ㅤHora de fin :</label>
                                    <input id="time2" name="time2" class="opacity" type="time" value="{{evento[10]}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="containerTextBox">
                    <div class="containerWithoutBorder">
                        <input id="descriptionEvento" name="descriptionEvento" type="text" class="textBox" value="{{evento[2]}}">
                    </div>
                    <div class="containerWithoutBorder">
                        <div class="containerRow containerBorder">
                            <div class="containerTextBox">
                                <label class="opacity">Modalidad</label>
                                <div class="containerWithoutBorder">
                                    <div class="containerWithoutBorder">
                                        <input type="checkbox" id="checkboxPresencial" name="checkboxPresencial" value="Presencial">
                                        <label class="opacity" for="checkboxPresencial">Presencial</label>
                                    </div>
                                    <div class="containerWithoutBorder">
                                        <input type="checkbox" id="checkboxVirtual" name="checkboxVirtual" value="Virtual">
                                        <label class="opacity" for="checkboxVirtual">Virtual</label>
                                    </div>
                                </div>
                            </div>
                        </div>                            
                        <div class="containerRow containerBorder">
                            <div class="containerTextBox">
                                <label class="opacity">Clasificacion</label>
                                <div class="containerWithoutBorder">
                                    <div class="containerWithoutBorder">
                                        <input type="checkbox" id="checkboxPrivada" name="checkboxPrivada" value="Privada">
                                        <label class="opacity" for="checkboxPrivada">Privada</label>
                                    </div>
                                    <div class="containerWithoutBorder">
                                        <input type="checkbox" id="checkboxPublica" name="checkboxPublica" value="Publica">
                                        <label class="opacity" for="checkboxPublica">Publica</label>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="containerRow containerBorder">
                            <img class="app-icon opacity marginImg" src=" {{ url_for('static', filename='img/inv.png') }} " height="40">
                            <div class="containerTextBox">
                                <label class="opacity">Cantidad Invitados</label>
                                <input id="cantidadInvitados" name="cantidadInvitados" type="number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="containerRow" >
                <div class="left">
                </div>
                <div class="center">
                    <button id="btnGuardar" type="submit" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" name="btnGuardar" class="btn">GUARDAR CAMBIOS</button>
                </div>
                <div class="right">
                </div>
            </div>
        </form>
    </div>
    <div class="containerForm" style="background-color: white;">        
        <img class="app-icon" src=" {{ url_for('static', filename='img/anything.png') }} " height="80">
    </div>
</body>
</html>