<!DOCTYPE html>
<html lang="es">
<head>
    <script>
        if (top !== window) {
            top.location.href = window.location.href;
        }
        if (window.location.hash) {
            window.location.href = window.location.href.replace(window.location.hash, '');
        }
    </script>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Prueba BD</title>  
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/main.css') }} ">
</head>
<body>
    <div class="containerRow" >
        <div class="left">
            <img class="app-icon" src=" {{ url_for('static', filename='img/logo.png') }} " height="45">
            <label><h2 onclick="window.location.href='{{ url_for('home') }}';">eventiia</h2></label>
        </div>
        <div class="center">
            <label id="home" type="text" class="textBox"><h2>Inicio</h2></label>
            <label id="event" type="text" class="textBox"><h2>Eventos</h2></label>
            <label id="any">----------------</label>
        </div>
        <div class="rightModal">
            <img class="app-icon" src=" {{ url_for('static', filename='img/user.png') }} " height="25">
        </div>
    </div>
    <div class="containerForm" style="background-color: white;">
        <img class="app-icon" src=" {{ url_for('static', filename='img/anything.png') }} " height="80">
    </div>
    <div id="containerForm" class="containerCenter">
        <form action="/inscripcionEvent" method="POST">
            <div class="containerColumn">
                <div class="containerModal">
                    <div class="leftModal">
                    </div>
                    <div class="center">
                        <h2>Inscripcion</h2>
                    </div>
                    <div class="rightModal">
                        <img id="closeModal" class="app-icon" src=" {{ url_for('static', filename='img/close.png') }} " height="25" onclick="window.location.href='{{ url_for('home') }}';">
                    </div>
                </div>
                <div class="containerRow">
                    <div class="containerWithoutBorderEvents" >
                        <div id="containerEventPrin" class="containerColumn containerBorder containerTotal">
                            <img class="app-icon centered" src=" {{ url_for('static', filename='img/imagen.png') }} " height="200">
                            <label><h4>2024-02-03</h4></label>
                            <label><h4>Virtual </h4></label>
                            <label class="wrap-label"><h4>Capacitacion de herramientas tecnologicas implementadas en el sistema educativo</h4></label>
                            <label id="eventName"><h3>Capacitacion Digital</h3></label>
                        </div>
                    </div>
                    <div>
                        <div id="inscripcion" class="containerColumn">
                            <div id="inscripcion" class="containerColumn">
                                <label>¿Desea asistir al evento?</label>
                                <div class="containerWithoutBorder">
                                    <img class="app-icon" src=" {{ url_for('static', filename='img/anything.png') }} " height="30">
                                    <div class="containerWithoutBorder">
                                        <input type="checkbox" id="checkboxSi" name="checkboxSi" value="Si">
                                        <label for="checkboxSi">Si</label>
                                    </div>
                                    <div class="containerWithoutBorder">
                                        <input type="checkbox" id="checkboxNo" name="checkboxNo" value="No">
                                        <label for="checkboxNo">No</label>
                                    </div>
                                    <img class="app-icon" src=" {{ url_for('static', filename='img/anything.png') }} " height="30">

                                </div>
                            </div>
                            <div class="containerWithoutBorder">
                                <img class="app-icon" src=" {{ url_for('static', filename='img/anything.png') }} " height="30">
                                <label>Fecha:</label>
                                <input id="dateInscripcion" class="opacity" name="dateInscripcion" type="date">
                                <img class="app-icon" src=" {{ url_for('static', filename='img/anything.png') }} " height="30">
                            </div>
                            <div id="inscripcion" class="containerColumn">
                                <label>No olvide compartir este evento con sus amigos <br>más cercanos para disfrutar al máximo <br>esta experiencia</label>
                            </div>
                            <div id="inscripcion" class="containerRow" >
                                <div class="left">
                                </div>
                                <div  class="center">
                                    <button id="btnInsc" type="submit" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" name="btnInsc" class="btn">INSCRIBIR</button>
                                </div>
                                <div class="right">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </form>
    </div>
    <div class="containerForm" style="background-color: white;">        
        <img class="app-icon" src=" {{ url_for('static', filename='img/anything.png') }} " height="80">
    </div>
</body>
</html>