<!DOCTYPE html>
<html lang="es">
<head>
    <script>
        if (top !== window) {
            top.location.href = window.location.href;
        }
        if (window.location.hash) {
            window.location.href = window.location.href.replace(window.location.hash, '');
        }
    </script>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Prueba BD</title>  
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/main.css') }} ">
</head>
<body>
    <div class="containerRow" >
        <div class="left">
            <img class="app-icon" src=" {{ url_for('static', filename='img/logo.png') }} " height="45">
            <label><h2 onclick="window.location.href='{{ url_for('home') }}';">eventiia</h2></label>
        </div>
        <div class="center">
            <label id="home" type="text" class="textBox"><h2>Inicio</h2></label>
            <label id="event" type="text" class="textBox"><h2>Eventos</h2></label>
            <label id="any">----------------</label>
        </div>
        <div class="rightModal">
            <img class="app-icon" src=" {{ url_for('static', filename='img/user.png') }} " height="25">
        </div>
    </div>
    <div>
        <div class="containerForm" style="background-color: white;">
            <img class="app-icon" src=" {{ url_for('static', filename='img/anything.png') }} " height="80">
        </div>
        <div class="containerCenter">
            <div class="containerColumn">
                <div class="containerModal">
                    <div class="leftModal">
                    </div>
                    <div class="center">
                        <h2>Eliminar Eventos</h2>
                    </div>
                    <div class="rightModal">
                        <img id="closeModal" class="app-icon" src=" {{ url_for('static', filename='img/close.png') }} " height="25" onclick="window.location.href='{{ url_for('home') }}';">
                    </div>
                </div>
                <div class="containerColumn">
                    <div class="containerTextBox">
                        <div id="labels" class="containerWithoutBorder">
                            <label class="labelId">Codigo</label>
                            <label class="labelLa">Nombre del evento</label>
                            <label class="labelLa">Descripcion</label>
                            <label class="labelId">Fecha</label>
                            <label>
                                <img class="app-icon" src=" {{ url_for('static', filename='img/anything.png') }} " height="30" width="50">
                            </label>
                        </div>
                        <div id="containerLabel" class="containerWithoutBorderEventsDelete containerRow">
                            {%  for evento in eventos %}
                                <div id="labelsEvent" class="containerWithoutBorder">
                                    <label class="labelId">{{evento[0]}}</label>
                                    <label class="labelLa">{{evento[1]}}</label>
                                    <label class="labelLa">{{evento[2]}}</label>
                                    <label class="labelId">
                                        <time datetime="{{ evento[7].strftime('%Y-%m-%d') }}">{{ evento[7].strftime('%Y-%m-%d') }}</time>
                                    </label>
                                    <label >
                                        <form action="{{ url_for('deleteEventId', idEvento=evento[0]) }}" method="post">
                                            <button id="deleteId" name="deleteId">
                                                <img class="app-icon" src=" {{ url_for('static', filename='img/delete.png') }} " height="25">
                                            </button>
                                        </form>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerForm" style="background-color: white;">        
            <img class="app-icon" src=" {{ url_for('static', filename='img/anything.png') }} " height="80">
        </div>
    </div>
</body>
</html>