.containerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5x;
    border: 1px solid #ccc;
}
.containerBorder {
    border-radius: 10px;
}
.containerColumn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5x;
    border: 1px solid #ccc;
}
.containerModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5x;
    border: 1px solid #ccc;
    background-color: #ACACAC;
}
.containerWithoutBorder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 5px;
}
.containerWithoutBorderEvents {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    margin: 5px;
}
.containerWithoutBorderEventsDelete {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}
.containerLeft {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2px 30px;             
}
.containerBackChangeable{
    width: 100%;
    height: 100%;
    background-color: #e2e0e0;
}
.containerChangeable{
    display: flex;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    border-radius: 5px;
    flex-direction: column;
}
.containerTextBox{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.containerCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.textBox {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    border: 1px solid #ccc;
}
.btn{
    background-color: #79BAC1;
    margin-bottom: 10px; 
    margin-top: 20px;
    padding: 5px 20px;        
}
.containerCenter input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}
.left,
.right {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}
.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.leftModal,
.rightModal {
    display: flex;
    align-items: center;
    margin: 5px;
}
.containerTextButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    height: 18px;
}
.containerBorder1{
    border: 1px solid #ccc;
}
.left h2 {
    margin-left: 10px;
}
.center button{
    margin-right: 10px;
}
.center h2 {
    margin: 10px;
}
.marginImg{
    margin-left: 5px;
    margin-right: 5px;
}
.containerWithoutBorder div{
    margin-right: 5px;
}
h1, h2, h3, h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.textBox:focus {
    border-color: #0e1011; 
}
.opacity {
    opacity: 0.6; 
}
#modalCreate::backdrop{
    background-color: rgba(0, 0, 0, .55);
}
.containerWithoutBorder input{
    margin-right: 5px;
}
.containerCenter label, .containerTextButton label, .containerTotal label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.containerWithoutBorder button, .containerChangeable div{
    margin-left: 20px;
}
.containerBorder label h4, .containerColumn label h4{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 2px;
}
.checkbox-label img {
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: 80px; /* Ajusta la altura según tus necesidades */
    margin-right: 5px; /* Espaciado entre la imagen y el texto */
    vertical-align: middle; /* Alinea la imagen verticalmente */
}
.inputMateriales{
    margin-top: 10px;
}
#containerEvent {
    width: 225px;
    height: 350px;
    margin: 20px;
    margin-right: 5px;
    padding: 15px;
    display: flex;
    align-items: start;
}
#containerEventPrin {
    width: 225px;
    margin: 20px;
    margin-right: 5px;
    padding: 15px;
    display: flex;
}
#containerEvent div, #containerEvent img {
    margin-left: 10px;
}
#containerEvent div.centered, #containerEvent img.centered {
    margin: auto; /* Esto centrará horizontalmente los elementos */
}
#datePrincipal{
    margin-top: 5px;
}
.containerEvent label, .containerEvent div, .containerEvent img{
    padding: 5px;
    margin: 5px;
}
#aditionals, #invitados, #organizadores, #home, #event{
    border: none;
}
#invitados, #organizadores, #interes, #editarL{
    width: 100%;
    border: none;
}
.containerTotal{
    width: 100%;
}
#events, #notifications, #sociak{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}
#busq{
    margin-bottom: 20px;
}
#any{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    color: white;
}
.containerWithoutBorder label{
    margin-left: 10px;
}
#calendar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
}
#interes{
    margin-left: 0px;
}
#interesting, #editing{
    background-color: #e2dbdb;
    margin-left: 5px;
}
#eventName{
    margin-left: 5px;
}
#date1, #time1, #date2, #time2, #cantidadInvitados, #organizadoresEven, #dateBusq{
    border: none;
}
#dateBusq{
    margin-left: 15px;
}
#containerForm{
    background-color: white;
}
.pagoo{
    border: none;
    margin: 10px;
}
.pagoo label, .pagoo div label, .pagoo div{
    border: none;
}
.pagoo input{
    margin-left: 5px;
}
.pagoo div{
    padding: 5px;
}
.containerPay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5x;
}
.containerPay div{
    border: none;
    padding: 5px;
}
#delete{
    background-color: #ccc;
    border-radius: 5px;
    margin: 5px;
}
#headerEvent{
    justify-content: space-between;
    padding: 5px;
}
#materiales{
    font-size: 17px;
    margin: 5px;
}
.textNBorder, .textNBorder input{
    border: none;
}
.containerLogin{
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;

}
.containerLogin div, .containerLogin img{
    margin:  3px;
}
.containerText{
    background-color: white;
}
.containerAll{
    height: 600px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#centerLogin{
    height: 500px;
    width: 1100px;
    background-color: #BEE3FE; 
    border: none;
    padding: 5px;
}
.btnLog{
    margin-bottom: 10px; 
    margin-top: 20px;
    padding: 5px 20px;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    background-color: #e4e4e4;  
}
.labelLa{
    width: 270px;
}
.labelId{
    width: 150px;
}
#labels{
    background-color: #e8e7e7;
}
#labelsEvent{
    background-color: #f3efef;
}
#containerLabel, #labels{
    margin-left: 0px ;
    margin-right: 0px;
}
#inscripcion{
    border: none;
    margin: 10px;
}
#inscripcion label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}
.containerUser{
    padding: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.containerBtnUser{
    align-self: center; 
    margin-right: 800px;
    align-content: center;
}
.NBorderUser{
    border: none;
    padding: 5px;
}
.btnUser{
    padding: 10px;
    justify-self: center;
    font-size: medium;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
#editBtn{
    background-color: #B4B6EC;
}
#deleteBtn{
    background-color: #d86262;
}